.error {
    -fx-effect: dropshadow( one-pass-box, rgba(255, 0, 0, 0.5), 2, 0.5, 0, 0);
    -fx-text-box-border: red;
    -fx-focus-color: red;
    -fx-faint-focus-color: rgba(255, 0, 0, 0.1);
}

.button:default.error {
    -fx-base: #FFCAC8;
}

.table-row-cell:joined {
    -fx-background-color: rgba(0, 255, 0, 0.1);
}
